* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html,body{
    transition: o.4s;
}
:root {
    --cor1: #050505;
    --cor2: #bbb;
    --cor3: #f8f1f1;
    --corbtnler: #0605fe;
    --cor4:#da4f57;
}
input[type="checkbox"]{
    display: none;
}
#modos {
   text-decoration: none;
}

.dark, .dark-header{
background-color: var(--cor1);
color: white;
}
.dark nav{
    background-color: var(--cor1);
    justify-content: space-around;
    box-shadow: 1px 1px 4px #f8f1f1;

}
.dark nav>a{ color: #f8f1f1;}
.dark .bi-sun{
    display: none;
}
.dark .bi-moon{
    display: block;
}
.dark .bi{
    font-size: 1.3rem;
    cursor: pointer;
    text-decoration: none;
    color:aliceblue;
}
.dark article,.text{ background-color: #C0C0C0;}
.dark article { box-shadow: 1px 2px 12px rgb(85, 48, 48);}
.dark #texto .title{ color: var(--cor3);}
/*fim modo dark*/
nav {
   align-items: center;
    justify-content: space-around;
    text-decoration: none;
    display: flex;
    gap: 1em;
    padding: 1em 0;
    box-shadow: 1px 1px 9px rgb(139, 106, 106);
    position: fixed;
    width: 100%;
    top: 0;
    background-color: azure;
    z-index: 10;
    
}
nav>a:hover{
    color: var(--cor4);
}
nav>a{color: #000;
    display: inline-block;
    text-decoration: none;
    transition: color 0.3 ease;
}
.bi{
    font-size: 1.3rem;
    cursor: pointer;
    text-decoration: none;
    color: #000;
}
.bi-moon{
    display: none;
}
.aa{
    align-items: center;
    justify-content:center;
    display: flex;
    width: 100%;
    min-height: calc(100vh - 10%) ;
margin-top: 60px;
padding: 28px 8%;
position: relative;
}
#texto{
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 5%;
}

#texto .title{
font-size: 4rem;
color: #1d1d1d;
}
#texto .desc{
    color: var(--cor4);
    font-size: 1.5rem;
}
#fto{
    display: flex;
    align-items: start;
    justify-items: end;
    margin-top: 22px;
    padding-left: 10%;
    width: 70%;
    z-index: 2;
}
#fto .f1{
    left: 30em;
height: 100%;
width: fit-content;
}
.shape{
    background-color: #da4f57;
    width: 35%;
    height: 100%;
    position: absolute;
    border-radius: 40% 30% 5% 20%;
    top: 8%;
    left: 50%;
    z-index: 1;
}
main>h1{ text-align: center;}
.container{ display: flex;}
main {
    display: block;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    margin-top: 4em;
}
.conter{
 
    width: 80%;
} .conter>h1{ color:#da4f57;}
article {
    box-shadow: 1px 2px 12px rgb(0, 0, 0);
    width: 90%;
    max-width: 90vh;
    border-radius: 10px; 
    padding-bottom: 20px;
    text-align: center;
    margin: 5em auto;
}.sobre{   display: none; background-color: var(--cor2);}
.sobre > h1 {
    background-color: grey;
    padding: 10px;
    margin: 0;
}
.text {
    background-color: var(--cor2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.text > p {
    text-align: justify;
    margin: 0;
    max-height: 115px;
    overflow: hidden;
    position: relative;
    transition: max-height 0.4s ease;
}
.text::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    transition: height 0.4s ease;
}
.text.expanded > p {
    max-height: 1000px; 
}
.ler {
    display: block;
    width: fit-content;
    margin: 1em auto 0;
    border-radius: 5px;
    padding: 10px;
    transition: 0.4s;
    cursor: pointer;
    border: 1px solid var(--corbtnler);
}

.ler:hover {
    color: white;
    background-color: var(--corbtnler);
  
}
aside{ padding-top: 20px;}
.ok{
    width: 430px;
    text-align: center;
    justify-items: center;
    padding-right: 15px;
    height: 80px;
}
.mini-calender{ justify-content: center; gap: 4%; ; display: flex;
list-style-type: none;}
.mini-calender li.atual{
position: relative;
width: 60px; height: 68px;
background-color: var(--cor2);
font-size: 1.65rem;
color: #000;
top: -46px;
transform: translateY(-29);
border: 5px solid #f8f1f1;
border-radius: 25%;
}
.mini-calender li.atual::before{
    content: "";
    position: absolute;
    width: 30px; top: 26px;
    left: -37px; height: 30px;
    border-top-right-radius: 10px;
    box-shadow: 6px -6px white;
}
.mini-calender li.atual::after{
    content: "";
    position: absolute;
    width: 30px; top: 26px;
    right: -37px; height: 30px;
    border-top-left-radius: 10px;
    box-shadow: -6px -6px white;
}
.pop{
    justify-content: center;
   display:flex;
  text-decoration: none;
 gap: 25px;
}
footer {
    color: white;
    background-color: var(--cor1);
    text-align: center;
    padding: 1em;
    position:relative;
    width: 100%;
    bottom: 0;
}
footer>a{ color: whitesmoke; text-decoration: none;}



@media screen and (max-width: 1170px) {
    
#texto { padding-left: 8%; display: block;;}
.title{ position: center;}
    .f1, .shape{ left: 52%;}
    .shape{ background-image: url(im3.png);}
 .f1{ display: none;}
    article {
        width: 75%;
        margin-top: 2em;
    } main{ flex-wrap: wrap;}
 
  article > p {
        padding-left: 1em;
        padding-right: 1em;
    }
    .text{ margin-top: 10px; text-decoration: auto;}
.imgs{ display: block;
}
footer{position: fixed;}
}
@media screen and (max-width: 768px) {
    nav {
        text-align: center;
        flex-direction: column;
        gap: 9px;
    }
    .aa{
        margin-top: 13em;
    }
    .f1, .shape{ display: none;}
    main{ flex-wrap: wrap;}
    article {
        width: 95%;
        margin-top: 2em;
    }
#fto .f1{ display: none;}
    article > p {
        padding-left: 1em;
        padding-right: 1em;
    }
    .text{ margin-top: 10px; text-decoration: auto;}
.imgs{
    display: none;
}
    .ler {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
}